body{
  width: 100%;
  height: 100vh;
  margin:0;
  padding: 0;
}

div.App {
  width: 100%;
  display: flex;
  align-content: center;
  scroll-behavior: smooth;
}


div.imageCont {
  position:fixed;
  display: flex;
  margin:auto;
  width: 70vw;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.0),rgba(41, 41, 41, 0.6)),url("./photos/vermont.png");
  background-position: center;
  background-size: cover;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  /* box-shadow: 0 0 12px 12px white inset; */
}
h1.imageTitle {

  font-family: 'Cutive', serif;
  color: white;
  /* margin-left: 2rem; */
  font-size: 3rem;
  padding: 0;
}
div.imageCont p {
  margin: 0;
  padding: 0; 
  font-size: 1.5rem;
  /* margin-left: 3rem; */
  margin-bottom:6rem;
  color: white;
}

div.infoCont {
  margin-left: auto;
  background-color: rgb(251, 238, 242);
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  color: rgb(4, 58, 59);
  width: 30vw;
  /* overflow: scroll; */
  display: block;
}

div.infoMain {
  height: 100vh;
  width: 100%vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
 
}


img.stamp{
  position: absolute;
  height: 12em;
}

div.infoTime {
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(4, 58, 59);
  height: 100vh;
  color:rgb(251, 238, 242)
}
div.infoTime h2,
div.infoTime h3 {
  margin: 0;
}
div.infoTime p {
  color: rgb(4, 58, 59);
  background-color: rgb(251, 238, 242) ;
  padding: .4em .75em;
  border-radius: .25em;
  
}
div.infoTime p.resMenuLinks {
  margin-top: 1em;
  background-color: transparent;
  color: rgb(251, 238, 242);
  font-family: 'Cutive', serif;
}
p.resMenuLinks a {
  color: rgb(251, 238, 242);
  margin: 0em .5em;
}
div.infoTime p.resMenuLinks a:visited{
  color: rgb(251, 238, 242)
}

div.infoTime p.resMenuLinks a:hover,
div.infoTime p.resMenuLinks a:active {
  color: rgb(4, 58, 59);
  text-shadow: 1.5px 1.5px rgb(251, 238, 242);
 
  text-decoration: none;
}




div.infoRes {
  text-align: center;
  height: 100vh;
  width: 30vw;
  display: flex ;
  justify-content: center;
  align-items: center;
  position: relative;

  
}
div.infoRes h1 {
  margin-bottom: 1em;
  font-size: 3em;
  margin-inline: center;
}
div.infoRes form {
  display:flex;
  flex-direction: column;
  
}


form.resForm input,
form.resForm select{
  margin:.5em 0em;
  display:block;
  text-align: center;
  margin-inline: auto;
  border: .3em solid rgb(4, 58, 59);
  border-radius: .5em ;
  background-color: rgb(4, 58, 59);
  color: rgb(251, 238, 242);
  width: 25vw;
  height: 2.5em;
  overflow: hidden;

}
button.rsvpButton {
  margin-inline: auto;
  width: 18vw;
  height: 5vh;
  background-color: rgb(4, 58, 59) ;
  border: none;
  color: rgb(251, 238, 242);
  border-radius: .5em;
}

button.rsvpButton:hover {
  background-color: rgb(251, 238, 242);
  border: 2px solid rgb(4, 58, 59);
  box-shadow: 3px 3px rgb(4, 58, 59) ;
  color: rgb(4, 58, 59);
  position:sticky;
  margin-bottom: -4px;
}
h3.formPopup {
  
}
div.infoMenu {
  height: 100vh;
  background-color:rgb(4, 58, 59) ;
}


/* ---------down arrow ---------*/

.arrows {
  width: 60px;
  display: flex;
  justify-content: center;
  display: flex;
  margin-inline: auto;
  margin-top: auto;
}

.arrows path {
  stroke: rgb(4, 58, 59);
  fill: transparent;
  width: 100vw;
  stroke-width: 4px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
      opacity: 0
  }
  40% {
      opacity: 1
  }
  80% {
      opacity: 0
  }
  100% {
      opacity: 0
  }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

  {
  0% {
      opacity: 0
  }
  40% {
      opacity: 1
  }
  80% {
      opacity: 0
  }
  100% {
      opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}


